

<script lang="ts">
import * as chrono from 'chrono-node';
import moment from 'moment';
import "bootstrap/dist/css/bootstrap.css";

export default {
  name: 'HomeView',
  methods: {
    parseTime() {
      const input = document.querySelector('input') as HTMLInputElement;

      // Parse text into local TZ
      const parsed: any = chrono.parse(input.value, { instant: new Date()}, { forwardDate: true })[0];

      // Re-cauculate the parsed time from the input
      var parsedMoment = moment(parsed.date())

      if (parsed.start.knownValues.timezoneOffset) {
        parsedMoment = parsedMoment.utcOffset(parsed.start.knownValues.timezoneOffset);
      }

      const parsedTime = parsedMoment.format('dddd, MMMM Do YYYY, h:mm:ss A Z');
      const localTime = moment(parsed.date()).format('dddd, MMMM Do YYYY, h:mm:ss A Z');

      this.localTime = localTime;
      this.parsedTime = parsedTime;
      this.parsedTimeZone = parsedMoment.format('ZZ')
      this.parsedEpoch = parsedMoment.unix()
      this.timeConverted = true;
    },
    copyText() {
      const obj: any = {}
      obj.focus();
      navigator.clipboard.writeText(this.shareURL);
    }
  },
  data() {
    return {
      timeConverted: false,
      parsedTime: "",
      localTime: "",
      parsedTimeZone: "",
      parsedEpoch: 0,
    }
  },
  computed: {
    shareURL() {

      const route = this.$router.resolve({ path:`share/${this.parsedTimeZone}/${this.parsedEpoch}` });
      const absoluteURL = new URL(route.href, window.location.origin).href;

      return absoluteURL

    }
  }
}
</script>

<template>
  <main class="container text-center">
    <input v-on:keyup.enter="parseTime" id="time-input" placeholder="14th of May at 8am PST" autofocus/>
    <div class="results" v-if="timeConverted">
      <h1>{{ parsedTime }}</h1>
      is
      <h1>{{ localTime }}</h1>
      in your local time.

      <div class="input-group mb-3">
        <input type="text" readonly class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" v-model="shareURL">
        <button class="btn btn-primary" type="button" ref="clone" @click="copyText">Copy</button>
      </div>
    </div>
  </main>
</template>

