

<script lang="ts">
import * as chrono from 'chrono-node';
import moment from 'moment';
import "bootstrap/dist/css/bootstrap.css";

export default {
  name: 'TimeConvertResults',
  props: {
    timeZone: String,
    epoch: Number
  },
  methods: {
     getParsedMoment(epoch: any, timeZone: any) {
      return moment(epoch * 1000).utcOffset(timeZone)
    },
    parseTime() {
      // Re-cauculate the parsed time from the input
      const parsedMoment = this.getParsedMoment(this.epoch, this.timeZone)

      // var parsedMoment = moment(this?.epoch * 1000).utcOffset(this?.timeZone)

      const parsedTime = parsedMoment.format('dddd, MMMM Do YYYY, h:mm:ss A Z');
      const localTime = parsedMoment.local().format('dddd, MMMM Do YYYY, h:mm:ss A Z');

      this.localTime = localTime;
      this.parsedTime = parsedTime;
      this.parsedTimeZone = parsedMoment.format('ZZ')
      this.parsedEpoch = parsedMoment.unix()
      this.timeConverted = true;
    },
  },
  mounted() {
    this.parseTime()
  },
  data() {
    return {
      timeConverted: false,
      parsedTime: "",
      localTime: "",
      parsedTimeZone: "",
      parsedEpoch: 0,
    }
  },
  computed: {
    shareURL() {

      const route = this.$router.resolve({ path: `share/${this.parsedTimeZone}/${this.parsedEpoch}` });
      const absoluteURL = new URL(route.href, window.location.origin).href;

      return absoluteURL

    }
  }
}
</script>

<template>
  <main class="container text-center">
    <h1>Tanuki Time</h1>

    <div class="results" v-if="timeConverted">
      <h1>{{ parsedTime }}</h1>
      is
      <h1>{{ localTime }}</h1>
      in your local time.

      <div class="input-group mb-3">
        <input type="text" readonly class="form-control" aria-label="Recipient's username"
          aria-describedby="button-addon2" v-model="shareURL">
        <button class="btn btn-primary" type="button" id="button-addon2">Copy</button>
      </div>
    </div>

  </main>
</template>

